body{
    background-color: aliceblue;
    margin:0;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.containerOne{
    height: 400px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(165, 42, 140);
    border-style: double;

}
.half-circle{
    width:200px;
    height: 200px;
    border-radius:50%;
    clip-path: insert(0 0 0 50%); /*hide right half */
    float: left;
}