body{
    background-color: aliceblue;
    
}
.containerOne{
    height: 400px;
    width: 400px;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    background-color: rgb(42, 132, 165);
    border-style: double;

}
.half-circle{
    width:200px;
    height: 200px;
    border-radius:50%;
    clip-path: insert(0 0 0 50%); /*hide right half */
    float: left;
}